BACKEND_URL=https://siniestro-facil-backend-prod-112296734690.us-central1.run.app
BACKEND_AUDIENCE=https://siniestro-facil-backend-prod-112296734690.us-central1.run.app
FRONTEND_ORIGIN=http://localhost:5173
PORT=8080
